@using DnDApp.Models;

@model DnDApp.Models.Character

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CharacterPage";
    var Character = Database.currentCharacter;
    var Classes = Database.getAllClasses();
    var Races = Database.getAllRaces();
}

   <link href="~/Content/CharPage.css" rel="stylesheet" />
   <script src="~/Scripts/CharacterPage.js"></script>
    <div>
        @using (Html.BeginForm())
        {
        <img src="~/Resources/Scroll2.jpg" class="img_scroll" id="Scroll">
            <div class="Info">
                <div class="NameClassRace">
                    <p id="Name">Name: @Html.TextBoxFor(u => u.CharName, new { @Value = @Character.CharName, @Class = "tbresizeInfo" })</p>
                    <p id="Class">Class: @Html.DropDownListFor(u => u.ClassName, new SelectList(Classes, @Character.ClassName), new { @Class = "tbresizeInfo" })</p>
                    <p id="Race">Race: @Html.DropDownListFor(u => u.RaceName, new SelectList(Races, @Character.RaceName), new { @Class="tbresizeInfo" })</p>
                </div>
                <div class="AgeHeightWeight">
                    <p id="Age">Age:@Html.TextBoxFor(u => u.CharAge, new {@Class = "tbresizeInfo", @Value=@Character.CharAge})</p>
                    <p id="Height">Height:@Html.TextBoxFor(u => u.CharHeight, new { @Class = "tbresizeInfo", @Value = @Character.CharHeight })</p>
                    <p id="Weight">Weight:@Html.TextBoxFor(u => u.CharWeight, new { @Class = "tbresizeInfo", @Value = @Character.CharWeight })</p>
                </div>
                <div class="EyesHairSkin">
                    <p id="Eyes">Eyes:@Html.TextBoxFor(u => u.CharEyes, new { @Class = "tbresizeInfo", @Value = @Character.CharEyes })</p>
                    <p id="Skin">Skin:@Html.TextBoxFor(u => u.CharSkin, new { @Class = "tbresizeInfo", @Value = @Character.CharSkin })</p>
                    <p id="Hair">Hair:@Html.TextBoxFor(u => u.CharHair, new { @Class = "tbresizeInfo", @Value = @Character.CharHair })</p>
                </div>
            </div>
            <div class="Scores">
                <p class="Heading">Scores</p>
                <p>@Html.TextBoxFor(u => u.StrScore, new { @Id = "ScStr", @Class = "tbresizeScores", @Value = @Character.StrScore }) Strength</p>
                <p>@Html.TextBoxFor(u => u.DexScore, new { @Id = "ScDex", @Class = "tbresizeScores", @Value = @Character.DexScore }) Dexterity</p>
                <p>@Html.TextBoxFor(u => u.ConScore, new { @Id = "ScCon", @Class = "tbresizeScores", @Value = @Character.ConScore }) Constitution</p>
                <p>@Html.TextBoxFor(u => u.IntScore, new { @Id = "ScInt", @Class = "tbresizeScores", @Value = @Character.IntScore }) Intelligence</p>
                <p>@Html.TextBoxFor(u => u.WisScore, new { @Id = "ScWis", @Class = "tbresizeScores", @Value = @Character.WisScore }) Wisdom</p>
                <p>@Html.TextBoxFor(u => u.ChaScore, new { @Id = "ScCha", @Class = "tbresizeScores", @Value = @Character.ChaScore }) Charisma</p>
            </div>
            <div class="SavingThrows">
                <p class="Heading">Saving Throws</p>
                <p><input type="checkbox" id="StStrCk"> Strength <b id="StStr">0</b></p>
                <p><input type="checkbox" id="StDexCk"> Dexterity <b id="StDex">0</b></p>
                <p><input type="checkbox" id="StConCk"> Constitution <b id="StCon">0</b></p>
                <p><input type="checkbox" id="StIntCk"> Intelligence <b id="StInt">0</b></p>
                <p><input type="checkbox" id="StWisCk"> Wisdom <b id="StWis">0</b></p>
                <p><input type="checkbox" id="StChaCk"> Charisma <b id="StCha">0</b></p>
            </div>
            <div class="Skills">
                <p> <input type="checkbox" id="CkAcrobatics"><b id="Acrobatics"> 0</b> Acrobatics <b class="ScoreReminder">(dex)</b></p>
                <p> <input type="checkbox" id="CkAnimHand"><b id="AnimHand"> 0</b> Animal Handling <b class="ScoreReminder">(wis)</b></p>
                <p> <input type="checkbox" id="CkArcana"><b id="Arcana"> 0</b> Arcana <b class="ScoreReminder">(int)</b></p>
                <p> <input type="checkbox" id="CkAthletics"><b id="Athletics"> 0</b> Athletics <b class="ScoreReminder">(str)</b></p>
                <p> <input type="checkbox" id="CkDeception"><b id="Deception"> 0</b> Deception <b class="ScoreReminder">(cha)</b></p>
                <p> <input type="checkbox" id="CkHistory"><b id="History"> 0</b> History <b class="ScoreReminder">(int)</b></p>
                <p> <input type="checkbox" id="CkInsight"><b id="Insight"> 0</b> Insight <b class="ScoreReminder">(wis)</b></p>
                <p> <input type="checkbox" id="CkIntimidation"><b id="Intimidation"> 0</b> Intimidation <b class="ScoreReminder">(cha)</b></p>
                <p> <input type="checkbox" id="CkInvestigation"><b id="Investigation"> 0</b> Investigation <b class="ScoreReminder">(int)</b></p>
                <p> <input type="checkbox" id="CkMedicine"><b id="Medicine"> 0</b> Medicine <b class="ScoreReminder">(wis)</b></p>
                <p> <input type="checkbox" id="CkNature"><b id="Nature"> 0</b> Nature <b class="ScoreReminder">(int)</b></p>
                <p> <input type="checkbox" id="CkPerception"><b id="Perception"> 0</b> Perception <b class="ScoreReminder">(wis)</b></p>
                <p> <input type="checkbox" id="CkPerformance"><b id="Performance"> 0</b> Performance <b class="ScoreReminder">(cha)</b></p>
                <p> <input type="checkbox" id="CkPersuasion"><b id="Persuasion"> 0</b> Persuasion <b class="ScoreReminder">(cha)</b></p>
                <p> <input type="checkbox" id="CkReligion"><b id="Religion"> 0</b> Religion <b class="ScoreReminder">(int)</b></p>
                <p> <input type="checkbox" id="CkSoH"><b id="SoH"> 0</b> Sleight of hand <b class="ScoreReminder">(dex)</b></p>
                <p> <input type="checkbox" id="CkStealth"><b id="Stealth"> 0</b> Stealth <b class="ScoreReminder">(dex)</b></p>
                <p> <input type="checkbox" id="CkSurvival"><b id="Survival"> 0</b> Survival <b class="ScoreReminder">(wis)</b></p>
            </div>
            <div class="Stats"><!--ProfBonus, AC, CurHp, MaxHp,Initiative, Speed, Inspiration-->
                <p>@Html.TextBoxFor(u => u.CharLevel, new { @Id = "level", @Class = "tbresizeScores", @Value = @Character.CharLevel }) Level</p>
                <p>@Html.TextBoxFor(u => u.ArmorClass, new { @Id = "AC", @Class = "tbresizeScores", @Value = @Character.ArmorClass }) Armor Class</p>
                <p>@Html.TextBoxFor(u => u.CurHealth, new { @Id = "CurHp", @Class = "tbresizeScores", @Value = @Character.CurHealth }) Current hp @Html.TextBoxFor(u => u.MaxHealth, new { @Id = "MaxHp", @Class = "tbresizeScores", @Value = @Character.MaxHealth}) Max hp</p>
                <p>@Html.TextBoxFor(u => u.Initiative, new { @Id = "Initiative", @Class = "tbresizeScores", @Value = @Character.Initiative }) Initiative</p>
                <p>@Html.TextBoxFor(u => u.Speed, new { @Id = "Speed", @Class = "tbresizeScores", @Value = @Character.Speed }) Speed</p>
                <p>@Html.TextBoxFor(u => u.Inspiration, new { @Id = "Inspiration", @Class = "tbresizeScores", @Value = @Character.Inspiration }) Inspiration</p>
                <input type="button" onclick="CalcScores()" value="Calculate modifiers"/>
            </div>
            <div class="OtherPagesLinks">
                <input type="button" value="Inventory" onclick="window.location.href='/DnD/Inventory';" /><br /><br />
                <input type="button" value="Background/story" onclick="window.location.href='BgStory';" /><br /><br />
                <input type="button" value="Spellbook" onclick="window.location.href='/DnD/Spellbook';" />
                <input type="submit" onclick="CalcAll()" value="Save Changes" />
            </div>
            <p hidden>                
                @Html.TextBoxFor(u => u.CharId, new {@Value = @Character.CharId })
                @Html.TextBoxFor(u => u.TrainedSkills, new {@Id="tbTrainedSkills", @Value= @Character.TrainedSkills })
                @Html.TextBoxFor(u => u.TrainedSavingThrows, new { @Id = "tbTrainedST", @Value = @Character.TrainedSavingThrows })
            </p>
            }
    </div>
    <script>
        CalcTrained("@Character.TrainedSavingThrows", "@Character.TrainedSkills");
        CalcScores();
    </script>
    
