
@model DnDApp.Models.Inventory

@{
    ViewBag.Title = "Inventory";
    var AllItems = @ViewBag.AllItems;
    var Inventory = @ViewBag.Inventory;
    var error = ViewBag.ErrorMessage;
}

@{
    if (@error != null)
    {
        <script>
            alert("@error");
        </script>
    }
}

    <link href="~/Content/Inventory.css" rel="stylesheet" />

<div>
    @using (Html.BeginForm()) { 
    <img src="~/Resources/Scroll2.jpg" id="Img_scroll">
    <div id="Inventory">
        @Html.ListBoxFor(u => u.SelectedItems, new MultiSelectList(Inventory.MyItems, "Id", "Showable"), new { @Id = "MyInventoryList", @Class = "resizetest", size = 40 })
    </div>
    <div id="AllItems">
        <h3>All items</h3>
        @Html.ListBoxFor(u=> u.ToBeAddedItems, new MultiSelectList(AllItems, "Id", "Name" ), new {@Id="AllItemsBox", @Class="resizetest", size=50})
            <input type="submit" name="command" value="Add" id="AddButton"/>
            <input type="submit" name="command" value="More info" id="MoreInfoButton" />
    </div>
    <div id="MoneyPouch">
        <p>Platinum: @Html.TextBoxFor(u => u.moneyPouch.Platinum, new { @Class = "tbMoneyPouch", @Value = @Inventory.MoneyPouch.Platinum })</p>
        <p>Gold: @Html.TextBoxFor(u => u.moneyPouch.Gold, new { @Class = "tbMoneyPouch", @Value = @Inventory.MoneyPouch.Gold })</p>
        <p>Silver: @Html.TextBoxFor(u => u.moneyPouch.Silver, new { @Class = "tbMoneyPouch", @Value = @Inventory.MoneyPouch.Silver })</p>
        <p>Copper: @Html.TextBoxFor(u => u.moneyPouch.Copper, new { @Class = "tbMoneyPouch", @Value = @Inventory.MoneyPouch.Copper })</p>
        <input type="submit" name="command" value="Save" id="SaveButton"/>
    </div>
    <div id="Buttons">
        <input type="submit" name="command" value="Increase +1" class="MyInvBt" id="Inc1" />
        <input type="submit" name="command" value="Increase +10" class="MyInvBt" id="Inc10" />
        <input type="submit" name="command" value="Increase +20" class="MyInvBt" id="Inc20" />
        <input type="submit" name="command" value="Decrease -1" class="MyInvBt" id="Dec1" />
        <input type="submit" name="command" value="Decrease -10" class="MyInvBt" id="Dec10" />
        <input type="submit" name="command" value="Decrease -20" class="MyInvBt" id="Dec20" />
        <input type="submit" name="command" value="Remove" class="MyInvBt" id="btRemove" />
        <input type="submit" name="command" value="More Info" class="MyInvBt" id="btMI" />
    </div>   
    }
</div>