
@{
    ViewBag.Title = "MoreInfo";
    var Object = ViewBag.Object;
    var SpellOrItem = ViewBag.SpellOrItem;
}

<link href="~/Content/MoreInfo.css" rel="stylesheet" />

<div id="container">
    @using (Html.BeginForm())
    {
        if (SpellOrItem == "Spell")
        {
            <p>Name: <input type="text" value="@Object.Name" /></p>
            <p>Spell type: <input type="text" value="@Object.SpellType" /></p>
            <p>Level: <input type="text" value="@Object.Level" /></p>
            <p>Description: <textarea id="test">@Object.Description</textarea></p>
            <p>Damage: <input type="text" value="@Object.Dice" /></p>
            <p>Components: <textarea>@Object.Components</textarea></p>
            <p>Range: <input type="text" value="@Object.Range" /></p>
            <p>Cast time:<input type="text" value="@Object.CastTime" /></p>
            <p>Duration: <input type="text" value="@Object.Duration" /></p>
            <input type="button" value="Back" class="backbutton" onclick="window.location.href='/DnD/Spellbook';" />
        }
        else if(SpellOrItem == "Item")
        {
            <p>Name: <input type="text" value="@Object.Name" /></p>
            <p>Description: <textarea>@Object.Description</textarea></p>
            <p>Damage: <input type="text" value="@Object.Dice" /></p>
            <p>Is magical: <input type="checkbox" value="@Object.IsMagical" /></p>
            <p>Is Wearable: <input type="checkbox" value="@Object.Wearable" /></p>
            <input type="button" value="Back" class="backbutton" onclick="window.location.href='/DnD/Inventory';" />
        }
    }
</div>

